@using Microsoft.AspNet.Identity;


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 0px;">
    <img src="~/Media/Images/logo.png" style="height:60px; width: 60px; border-radius:30px; border: 1px solid #B58900;" />
    <div style="width:40%; padding: 10px; display:inline-block; padding-top: 20px; padding-bottom:0px;">
        @if (Context.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-home navbar-brand" })
            @Html.ActionLink(" ", "Index", "Users", new { area = "" }, new { @class = "glyphicon glyphicon-search navbar-brand" })
            @Html.ActionLink(" ", "EditProfile", "Users", new { id = System.Web.HttpContext.Current.User.Identity.GetUserId() }, new { @class = "glyphicon glyphicon-edit navbar-brand" })
        }
    </div>

    <div style="width:10%; display:inline-block;"></div>

    <div style="width:40%; padding: 10px; display:inline-block;">
        @Html.Partial("_LoginPartial")
    </div>
</nav>
