@{
    ViewBag.Title = "About: ";
}
<h2>@ViewBag.Title</h2>

<p>All you have to do is type your friends nick name in search bar and then connect with them.</p>
<p>Then you can select sounds from list and whenever you click on big red button they will hear the sound you choose.</p>
