@{
    ViewBag.Title = "Contact:";
}
<h2>@ViewBag.Title</h2>

<address>
    Narodnih Heroja 13, Novi Sad<br />
    <abbr title="Phone">Phone:</abbr>
    069 13691339
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:filipberic996@gmail.com">filipberic996@gmail.com</a><br />
</address>
