@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 style="color: #B58900;">Attention Seeker</h1>
    <p class="lead">Attention Seeker is application used by lonely people to get attention from loved ones.</p>
</div>

<p><a class="btn btn-outline-primary" href="/Home/About">About &raquo;</a></p>
<p><a class="btn btn-outline-primary" href="/Home/Contact">Contact us &raquo;</a></p>


